In [1]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index = ['red', 'blue', 'yellow', 'white'],
                    columns = ['ball', 'pen', 'pencil', 'paper'])

In [6]:
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [7]:
np.sqrt(frame)

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

In [12]:
def f(x):
    return x.max()-x.min()

In [13]:
# apply the function by column
frame.apply(f)

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [14]:
# apply the function by row
frame.apply(f, axis = 1)

red       3
blue      3
yellow    3
white     3
dtype: int64

In [15]:
# calculate the sum of elements
frame.sum()

ball      24
pen       28
pencil    32
paper     36
dtype: int64

In [16]:
frame.describe()

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000